#table_questionnaire{
	background-color: #ddd;
	margin-top: 10px;
}

thead{
	background-color: #bfbfbf;
	font-weight: bold;
}

.glyphicon-trash, .glyphicon-wrench{
	color: #990000;
}

.element_supprimable, .element_modifiable, .glyphicon-remove-sign, .glyphicon-info-sign{
	display: block;
	text-align: center;
}

.element_supprimable, .element_modifiable{
	cursor: pointer;
}

#btn_creation_questionnaire{
	margin-top: 15px;
	margin-bottom: 30px;
}