table{
	background-color: #ddd;
	margin-top: 10px;
}

thead{
	background-color: #bfbfbf;
	font-weight: bold;
}

.glyphicon-remove-circle{
	color: #cc0000;
}

.element_supprimable, .element_modifiable, .glyphicon-remove-sign{
	display: block;
	text-align: center;
}