html, body{
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.navbar-static-top {
  margin-bottom: 10px;
}

#table-container{
	height: calc(100% - 66px);
	width: 100%;
	display: flex;
  	justify-content: center;
}	

table{
	height: 100%;
	width: 99%;
	padding: 0px;
	align-self: center;
}

td>div{
	height: 100%;
}

td{
	padding:0;
}

#ligne1{
	width: 100%;
	height: 5%;
	max-width: 100%;
	max-height: 5%;
	text-align: center;
} 

#ligne2{
	width: 100%;
	height: 55%;
	max-width: 100%;
	max-height: 55%;
}

#ligne3{
	width: 100%;
	height: 40%;
	max-width: 100%;
	max-height: 40%;
}

#btn_left_container{
	padding-left: 0;
	display: flex;
}

#div_btn_left{
	margin: auto; 
	margin-left: 0;
}

#image_container{
	border: 1px solid black;
}

.well{
	text-align: center;
}

#btn_right_container{
	padding-right: 0;
	display: flex;
}

#div_btn_right{
	margin: auto; 
	margin-right: 0;
}

.disabled{
	pointer-events: none;
}

#nom_question_container{
	text-align: center;
	margin-top: 8px;
}

#description_question_container{
	text-align: center;
	position: absolute;
	bottom: 5%;
	overflow : scroll;
}
