#div_gestion{
	display: block;
	padding-top: 9.5px;
	padding-left: 9.5px;
	margin-top: 5px;
	font-size: 13px;
	line-height: 1.42857143;
	color: #333;
	background-color: #f5f5f5;
	border: 1px solid #ccc;
	border-radius: 4px;
}

#mapContainer{
	height: 460px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#inputNomQuestionnaire{
	width: 250px;
	margin-right: 10px; 
}

#table_question{
	margin-top: 10px;
}

h4{
	margin-top: 20px;
}

label{
	font-weight: normal;
	font-size: 13px
}

.glyphicon-remove{
	cursor: pointer;
}

.return_links{
	margin-left: 15px;
}

#div_returnLink{
	margin-top: 25px;
}

#buttonQuestionUpdate{
	margin-bottom: 10px;
}

.btn_gestion_questionnaire{
	margin-top: inherit;
}

#explication_utilisation{
	font-size: 90%;
	font-style: italic;
}

#div_statut_questionnaire{
	margin-top: 40px;
}

#questionnaireStatutForm{
	margin-top: 25px;
	margin-left: 30px;
}

.img_container{
	text-align: center;
}
