.glyphicon-cog{
	margin-right: 10px;
}

#panneau_config_link{
	margin-top: 15px;
}

.container_questionnaire{
	margin-top: 15px;
}

.btn-danger{
	margin-bottom: 5px;
}

.btn-info{
	margin-top: 30px;
}

#message_invite{
  background-color: #f5f5f5;
  margin-top: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 20px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  text-align: center;
  font-style: italic;
}
/*#qLocked{
	
}*/

.popUpInfo{
	display: none;
	background-color: #f5f5f5;
	margin-top: 30px;
	padding-top: 25px;
	padding-bottom: 25px;
	font-size: 20px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	text-align: center;
	font-style: italic;
}